.header h1{
    text-align: center;
    background-color: lightgreen;
    color: white;
    margin: 0px 0px;
    font-family: 'Courier New', Courier, monospace;
}
.nav{
    background-color: black ;
    margin: 0px 0px;
    width: auto;
    height: 30px;
}
.nav a{
    color: white;
    padding: 10px 20px;
    margin: 10px 10px;
}.nav a:hover{
    color: blue;
}
.nav input{
    margin-left: 700px;
    margin-top: 5px;
}
.footer {
    margin-top: 150px;
    background-color: rgb(100, 235, 100);
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
.middle {
    text-align: center;
    border: 2px solid grey;
    margin: 10px 10px;
}
.middle button{
    border-radius: 3px;
    background-color: lightgreen;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    box-shadow: 3px 3px black;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgreen;
    color: white;
    margin: 10px 0px 10px;
}
#example{
    font-size: 30px;

}
